* {
  padding: 0;
  margin: 0;
}

.heading {
  font-size: 40px;
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
  margin: 20px;
}
.chessboard {
  width: 640px;
  height: 640px;
  margin: 20px;
  border: 15px solid rgb(179, 151, 151);
  margin: 0 auto;
}
.black {
  float: left;
  width: 80px;
  height: 80px;
  background-color: rgb(43, 40, 40);
}
.white {
  float: left;
  width: 80px;
  height: 80px;
  background-color: white;
}
.chess-board-div {
  width: 50%;
  float: left;
}
.chess-function-div {
  float: right;
  width: 50%;
}
.instruction-div {
  padding: 25px;
}
.instruction-div > h1 {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  color: cornflowerblue;
  margin-bottom: 10px;
}
.coin {
  font-size: 20px;
  width: 50%;
  float: right;
}
.common {
  margin-bottom: 10px;
}
.input-output {
  width: 50%;
  float: left;
  font-size: 20px;
}
.initial {
  margin-bottom: 20px;
}
.select {
  padding-right: 20px;
  margin-right: 20px;
}
.resultdiv {
  text-align: center;
}
